<section class="main">
  <p class="b fw48 f-red title">大灾变:劫后余生</p>
  <div class="guide-content image-container">
    <div class="ti1">
      <p class="b fwN2 ff-hyyk">哎呀！</p>
      <p class="fwN3">太不幸了！</p>
      <div class="ti3 fwN3">
        <p>你刚一觉醒来，</p>
        <p>窗外就响起了<span class="f-red b fwN2 ff-hyyk">挠门声！</span></p>
        <p class="ti4">但！好消息是！</p>
        <p class="ti4">在<span class="f-red b fwN2 ff-hyyk">丧尸进门</span>前......</p>
      </div>
    </div>
    <div style="width: 25%;">
      <img src="assets/image/guide/丧尸.png">
    </div>
  </div>
  <div class="guide-content image-container">
    <div style="width: 25%;">
      <img src="assets/image/guide/摆烂.png">
    </div>
    <div class="ti1 fwN3">
      <p style="margin-top: 1rem;">你还有点时间整理一下</p>
      <p class="b fwN1 ff-hyyk">目前的状况！</p>
      <p>反正都这样了，不如再挣扎下？</p>
    </div>
  </div>
  <div class="rule">
    <p class="b fwN1 f-pr ff-hyqy">规则：</p>
    <p class="fwNs2 ff-hyyk">
      你初始拥有<span class="b fwN1 f-green">70</span>点生存点数<br>
      选择正面特性会消耗点数，反之，<br>
      选择负面特性则会获得点数！<br>
    </p>
  </div>
  <p class="fwNs2 ff-hyyk"><br>请合理分配自己拥有的点数，<br>尽可能的为在末日中幸存多增添一份可能......</p>
  <a class="arrow" style="margin-top: 2rem;" routerLink="/selection"></a>
</section>